*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

strong{
  color: rgb(0, 217, 166);
}

button {
  background: linear-gradient(
      271deg,
      rgba(122, 222, 108, 1) 0%,
      rgba(88, 221, 125, 1) 60%,
      rgba(0, 217, 166, 1) 100%
  );
  font-size: 0.6rem;
  display: inline-block;
  position: relative;
  background-color: #d5c264;
  transition: color 0.5s;
  z-index: 1;
  overflow: hidden;
}

.background {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#000000, #000000);
  transition: 0.5s;
  z-index: -1;
  border-radius: 50%;
}

button:hover .background {
  width: 150%;
  height: 400%;
}